<!--
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.zhangzhic.zzc.mapper.CurriculumCoursewareMapper" >
  <resultMap id="BaseResultMap" type="com.example.zhangzhic.zzc.pojo.CurriculumCourseware" >
    &lt;!&ndash;
      WARNING - @mbg.generated
    &ndash;&gt;
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="curriculum_id" property="curriculumId" jdbcType="INTEGER" />
    <result column="total_level" property="totalLevel" jdbcType="TINYINT" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="is_auditing" property="isAuditing" jdbcType="BIT" />
    <result column="mian_tacher" property="mianTacher" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="create_data_time" property="createDataTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_data_time" property="updateDataTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
  </resultMap>
</mapper>-->
